<%= provide(:title, "Contact") %>
<h1 class="heading">
	Contact
</h1>
<p class="para">
	Contact us <a href="mailto:nishant15066@iiitd.ac.in">Nishant</a> or <a href="mailto:contact@rishabhkhatri.com">Rishabh</a>
</p>